/* @import "Tablet-size.css"; */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.red {
  color: #cc2525;
}
.red:hover {
  color: #000;
}
.black {
  color: #000;
}
.black:hover {
  color: #000;
}
Nav {
  margin-right: 30px;
}
/* Home */
.buttons {
  border-radius: 70px;
}
.home {
  display: flex;
}
.heading {
  display: flex;
  margin-top: 100px;
}
.heading-text {
  font-family: 900;
  margin-right: 20px;
  font-size: 110px;
}
.heading-flip {
  color: #ff8e6b;
  font-size: 110px;
}
.text p {
  font-size: 32px;
}
.text span {
  color: #ff8e6b;
}
.homebtn {
  margin-top: 60px;
}
.btn1 {
  background-color: #edcc96;
  font-weight: 700;
  font-size: 30px;
  border: 2px solid rgb(247, 244, 244);
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
.btn1:hover {
  background-color: #edcc96;
  border: 2px solid rgb(247, 244, 244);
}
.btn2 {
  background-color: #5b31e4;
  font-weight: 700;
  font-size: 30px;
  border: 2px solid rgb(247, 244, 244);
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
}
.btn2:hover {
  background-color: #5b31e4;
  border: 2px solid rgb(247, 244, 244);
}
.vector {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 30px;
}
.vector h2 {
  font-size: 61.15px;
  align-self: center;
}
/* About */
.about {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 50px;
}
.about p {
  font-size: 40px;
}
.about img {
  margin-right: 40px;
}
.features {
  background: #142e49;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: max-content;
}
.features h2 {
  font-size: 60.09px;
  margin-bottom: 25px;
  color: #edcc96;
}
.features li {
  font-size: 36px;
  color: #ffffff;
}
.features li span {
  font-weight: 500;
}
.works {
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box {
  padding: 50px;
  margin: 20px;
}
.box p {
  font-weight: 700;
  font-size: 42.88px;
}
.box span {
  color: #ff8e6b;
}
.box1 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.box1 Button,
.box4 Button {
  border-radius: 50px;
  padding: 10px;
  background-color: #ffffff;
  color: #142e49;
  font-size: 42.88px;
  border: 2px solid #142e49;
}
.img1 {
  margin-right: 20px;
}
/* Protection */
.box3 {
  display: flex;
  justify-content: center;
}
.protection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.protection h2,
h3 {
  font-size: 75.92px;
}
.protection h3 {
  color: #ff8e6b;
}
.protection p {
  font-size: 48px;
}
.mission {
  font-size: 121.61px;
  color: #142e49;
  text-align: center;
  margin-top: 50px;
}
.mission span {
  color: #ff8e6b;
}
.box4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box4 img {
  margin-bottom: 50px;
}
.box4 Button {
  margin-bottom: 30px;
}
.box1 .btn3 {
  color: #ff8e6b;
  border: 2px solid #ff8e6b;
  margin-left: 50px;
}

/* Footer */
.footer {
  background-color: #263e56;
  color: #ffffff;
  padding-top: 50px;
  margin-top: 50px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.sec1,
.sec2,
.sec3,
.sec4 {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: flex;
}
.footer-caption {
  margin-left: 20px;
}
.para {
  margin-top: 20px;
  width: 350px;
}
.footer-addressinfo {
  display: flex;
}
.footer-addressinfo p {
  margin-left: 20px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.footer-contact input[type="email"] {
  padding: 10px;
  background-color: #142e49;
  outline: #142e49;
  color: #ffffff;
  margin-top: 20px;
  border-radius: 25px;
}
.footer-contact input[type="submit"] {
  padding: 10px;
  background-color: #cc2525;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.footer li {
  margin-top: 20px;
}
.footer .line {
  padding: 3px;
  background-color: #cc2525;
  width: 50%;
}
.copyright {
  background-color: #142e49;
  margin-top: 50px;
  padding: 20px;
}
.company {
  color: #ff0000;
  font-weight: 600;
  margin-right: 10px;
  margin-left: 30px;
}
.location {
  color: #1400ff;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

/* Testinominal */
.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 28px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 23px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 786px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}

/* Contact Page */
.contact-form {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contact-form form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}
.contact-form input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
/* &:focus {
  border: 2px solid rgba(0, 206, 158, 1);
} */
.contact-form textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  /* &:focus {
      border: 2px solid rgba(0, 206, 158, 1);
    } */
}
.contact-form label {
  margin-top: 1rem;
}
.contact-form input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: #ff8e6b;
  color: white;
  border: none;
}
@media screen and (max-width: 425px) {
  .contact-form {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  /* Home */
  .heading-text,
  .heading-flip {
    font-size: 60px;
  }
  .text p {
    font-size: 23px;
  }
  .home img {
    width: 350px;
  }
  .btn1,
  .btn2 {
    font-size: 20px;
  }
  .vector h2 {
    font-size: 40px;
  }
  .vector img {
    width: 100px;
    height: 150px;
  }
  /* About */
  .about p {
    font-size: 20px;
  }
  .about img {
    width: 300px;
  }
  .features h2 {
    font-size: 40px;
  }
  .features li {
    font-size: 20px;
  }
  .works {
    font-size: 60px;
  }
  .box p {
    font-size: 25px;
  }
  .box1 Button,
  .box4 Button {
    font-size: 25px;
  }
  .box1 img {
    width: 150px;
  }
  /* Protection */
  .protection {
    margin-right: 10px;
  }
  .protection h2,
  h3 {
    font-size: 40px;
  }
  .protection p {
    font-size: 18px;
  }
  .protection img {
    width: 200px;
  }
  .mission {
    font-size: 60px;
  }
  /* Footer */
  .footer-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 425px) {
  /* Home */
  .heading {
    margin-top: 20px;
  }
  .heading-text,
  .heading-flip {
    font-size: 30px;
  }
  .text p {
    font-size: 15px;
  }
  .home img {
    width: 220px;
  }
  .btn1,
  .btn2 {
    font-size: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .vector h2 {
    font-size: 30px;
  }
  .vector img {
    width: 60px;
    height: 100px;
  }
  /* About */
  .about p {
    font-size: 15px;
  }
  .about img {
    width: 200px;
  }
  .features h2 {
    font-size: 30px;
  }
  .features li {
    font-size: 15px;
  }
  .works {
    font-size: 40px;
  }
  .box p {
    font-size: 20px;
  }
  .box1 Button,
  .box4 Button {
    font-size: 15px;
  }
  .box1 img {
    width: 75px;
    height: 50px;
  }
  /* Protection */
  .box3 {
    display: flex;
    flex-direction: column;
  }
  .protection h2,
  h3 {
    font-size: 30px;
  }
  .protection p {
    font-size: 15px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .protection img {
    width: 100px;
  }
  .mission {
    font-size: 40px;
  }
  .box4 img {
    width: 300px;
  }
  .box1 .btn3 {
    margin-left: 10px;
  }
  .myCarousel h3 {
    font-size: 25px;
  }
  .myCarousel h4 {
    font-size: 20px;
  }
  .myCarousel p {
    font-size: 15px;
  }
}
